* {
    box-sizing: border-box;
}
body {
    background: url('https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/technology/home-technology/film-and-tv/transferring-vinyl-to-digital-shutterstock-222981331.jpg');
    background-size: cover;
    color: white;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#forTheRecord {
    font-weight: 900;
    font-size: 3em;
    font-style: none
}
    
#topnav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    font-size: 1.5em;
    margin-top: -20px
}
#topnav li{
    display: inline
}

#content {
    display: grid;
    grid-template-rows: repeat(2, 25px);
    text-align: center;
    white-space: nowrap;
    margin-top: 35vh
}

#search input {
    width: 210px;
    margin: 0 5px 0 5px
}

#searchButton {
    max-width: fit-content;
}

#genrenav li{
    display: inline;
    margin: 0 20px 0 20px;
    font-size: 1.5em;
    text-decoration: none
}

#genrenav li:visited {
    text-decoration: none
}